Repository rainbowgon/opentheDoor-backend, pull requests merged in 2023-11, with the labels that each got.

#40 [infra/fix] Reservation CI GitHub Action 수정
  .github/workflows/reservation-ci.yml
  .github/workflows/reservation-workflow.yml
  Reservation/Dockerfile
  Reservation/appspec.yml
  Reservation/scripts/start.sh
  Reservation/scripts/stop.sh
Labels: 🚨 fix, 🛰 infra

#44 [infra/feat] ApiGateway CI/CD를 위한 설정 파일 추가
  .github/workflows/apigateway-ci.yml
  ApiGateway/Dockerfile
  ApiGateway/appspec.yml
  ApiGateway/scripts/start.sh
  ApiGateway/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🚪 ApiGateway

#46 [infra/fix] 테스트용으로 넣었던 코드 삭제
  .github/workflows/apigateway-ci.yml
  .github/workflows/reservation-ci.yml
Labels: 🚨 fix, 🛰 infra, 🎫 reservation, 🚪 apigateway

#50 [infra/feat] Notification Service의 CI/CD 구축
  .github/workflows/notification-ci.yml
  Notification/Dockerfile
  Notification/appspec.yml
  Notification/scripts/start.sh
  Notification/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🎠 notification

#52 [fix] Notification Entity 불필요 코드 삭제
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/entity/Notification.java
  Notification/src/main/resources/application.properties
  Notification/src/main/resources/application.yml
Labels: 🚨 fix, 🎠 notification

#54 [infra/feat] Search Service의 CI/CD 구축
  .github/workflows/search-ci.yml
  Search/Dockerfile
  Search/appspec.yml
  Search/scripts/start.sh
  Search/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🔍 search

#56 [infra/feat] Sender의 CI/CD 구축
  .github/workflows/sender-ci.yml
  Sender/Dockerfile
  Sender/appspec.yml
  Sender/scripts/start.sh
  Sender/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🏒sender

#57 [feat] Bookmark 도메인 관련 기능 구현
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/controller/BookmarkController.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/dto/request/BookmarkUpdateReqDto.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/dto/response/BookmarkDetailResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/dto/response/BookmarkSimpleResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/entity/Bookmark.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/repository/BookmarkRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/service/BookmarkService.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/service/BookmarkServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/controller/ProfileController.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/entity/Profile.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileService.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/global/config/WebConfigure.java
  Member/src/main/java/com/rainbowgon/member/global/entity/BaseEntity.java
  Member/src/main/java/com/rainbowgon/member/global/entity/NotificationStatus.java
  Member/src/main/java/com/rainbowgon/member/global/error/errorCode/GlobalErrorCode.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/BookmarkNotFoundException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/BookmarkUnauthorizedException.java
Labels: 💡 feature, 🏷 bookmark

#59 [feat] 카프카 로컬 구축 후 Consumer, Producer 통신 테스트
  Notification/build.gradle
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/controller/NotificationController.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/kafka/KafkaProducer.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/kafka/KafkaProducerConfig.java
  Notification/src/main/resources/application.yml
  Sender/build.gradle
  Sender/src/main/java/com/rainbowgon/sender/domain/controller/SenderController.java
  Sender/src/main/java/com/rainbowgon/sender/domain/fcm/FCMInitializer.java
  Sender/src/main/java/com/rainbowgon/sender/domain/fcm/FCMService.java
  Sender/src/main/java/com/rainbowgon/sender/domain/kafka/KafkaConsumer.java
  Sender/src/main/java/com/rainbowgon/sender/global/FCMInitializer.java
  Sender/src/main/resources/application.yml
Labels: 💡 feature, 🎠 notification, 🏒sender, 🎭kafka

#61 [feat] Review 도메인 관련 기능 구현
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/controller/BookmarkController.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/entity/EscapeStatus.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/entity/SpoilStatus.java
  Member/src/main/java/com/rainbowgon/member/domain/bookmark/service/BookmarkServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/domain/member/controller/MemberController.java
  Member/src/main/java/com/rainbowgon/member/domain/review/controller/ReviewController.java
  Member/src/main/java/com/rainbowgon/member/domain/review/dto/request/ReviewCreateReqDto.java
  Member/src/main/java/com/rainbowgon/member/domain/review/dto/request/ReviewUpdateReqDto.java
  Member/src/main/java/com/rainbowgon/member/domain/review/dto/response/MyReviewDetailResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/review/dto/response/ReviewDetailResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/review/dto/response/ThemeHistoryResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/review/entity/Review.java
  Member/src/main/java/com/rainbowgon/member/domain/review/repository/ReviewRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/review/service/ReviewService.java
  Member/src/main/java/com/rainbowgon/member/domain/review/service/ReviewServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/global/config/SecurityConfigure.java
  Member/src/main/java/com/rainbowgon/member/global/error/errorCode/GlobalErrorCode.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/ReviewNotFoundException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/ReviewUnauthorizedException.java
Labels: 💡 feature, ✏️ review

#63 [feat] Reservation Entity 생성
  Reservation/src/main/java/com/rainbowgon/reservation/domain/.gitkeep
  Reservation/src/main/java/com/rainbowgon/reservation/domain/reservation/entity/Reservation.java
  Reservation/src/main/java/com/rainbowgon/reservation/domain/reservation/entity/VerifiedStatus.java
  Reservation/src/main/resources/application.properties
  Reservation/src/main/resources/application.yml
Labels: 💡 feature, 🎫 reservation

#66 [feat] 검색 후 정렬 구현
  Search/src/main/java/com/rainbowgon/search/domain/theme/controller/ThemeController.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/request/ThemeCheckReqDtoList.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/request/ThemeCreateReqDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/response/ThemeDetailResDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/response/ThemeSimpleResDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/model/Theme.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/repository/ThemeRepository.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeService.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeServiceImpl.java
  Search/src/main/java/com/rainbowgon/search/global/config/RedisConfig.java
  Search/src/main/java/com/rainbowgon/search/global/response/JsonResponse.java
  Search/src/main/java/com/rainbowgon/search/global/response/PageInfo.java
Labels: 💡 feature, 🔍 search

#67 [env] Eureka 서버 생성
  ConfigServer/.gitignore
  ConfigServer/HELP.md
  ConfigServer/build.gradle
  ConfigServer/gradle/wrapper/gradle-wrapper.jar
  ConfigServer/gradle/wrapper/gradle-wrapper.properties
  ConfigServer/gradlew
  ConfigServer/gradlew.bat
  ConfigServer/settings.gradle
  ConfigServer/src/main/java/com/rainbowgon/configserver/ConfigServerApplication.java
  ConfigServer/src/main/resources/application.properties
  ConfigServer/src/test/java/com/rainbowgon/configserver/ConfigServerApplicationTests.java
  Eureka/.gitignore
  Eureka/HELP.md
  Eureka/build.gradle
  Eureka/gradle/wrapper/gradle-wrapper.jar
  Eureka/gradle/wrapper/gradle-wrapper.properties
  Eureka/gradlew
  Eureka/gradlew.bat
  Eureka/settings.gradle
  Eureka/src/main/java/com/rainbowgon/eureka/EurekaApplication.java
  Eureka/src/main/resources/application.properties
  Eureka/src/test/java/com/rainbowgon/eureka/EurekaApplicationTests.java
Labels: 🏗 env, 🎤 msa

#70 [infra/feat] Eureka 서버 CI/CD 구축
  .github/workflows/eureka-ci.yml
  Eureka/Dockerfile
  Eureka/appspec.yml
  Eureka/scripts/start.sh
  Eureka/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🎤 msa

#72 [infra/feat] ConfigServer의 CI/CD 구축
  .github/workflows/configserver-ci.yml
  ConfigServer/Dockerfile
  ConfigServer/appspec.yml
  ConfigServer/scripts/start.sh
  ConfigServer/scripts/stop.sh
Labels: 💡 feature, 🛰 infra, 🎤 msa

#81 [chore] Sender 패키지 이름 변경
  Sender/.gitignore
  Sender/Dockerfile
  Sender/HELP.md
  Sender/appspec.yml
  Sender/build.gradle
  Sender/gradle/wrapper/gradle-wrapper.jar
  Sender/gradle/wrapper/gradle-wrapper.properties
  Sender/gradlew
  Sender/gradlew.bat
  Sender/scripts/start.sh
  Sender/scripts/stop.sh
  Sender/settings.gradle
  Sender/src/main/java/com/rainbowgon/senderservice/SenderServiceApplication.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/fcm/service/FCMInitializer.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/fcm/service/FCMService.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/kafka/dto/in/MessageReqDTO.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/kafka/service/KafkaConsumer.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/sender/controller/SenderController.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/sender/repository/SenderRepository.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/sender/service/SenderService.java
  Sender/src/main/java/com/rainbowgon/senderservice/domain/sender/service/SenderServiceImpl.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/entity/BaseEntity.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/entity/ValidStatus.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/dto/ErrorReason.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/dto/ErrorResponse.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/errorCode/BaseErrorCode.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/errorCode/GlobalErrorCode.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/exception/CustomException.java
  Sender/src/main/java/com/rainbowgon/senderservice/global/error/exception/FCMInitializerFailException.java
  Sender/src/main/resources/application.yml
  Sender/src/test/java/com/rainbowgon/senderservice/SenderApplicationTests.java
Labels: 🏒sender, 🧹 chore

#90 [feat] ApiGateway 설정
  apigateway-server/build.gradle
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/ApigatewayServerApplication.java
  apigateway-server/src/main/resources/application.yml
  apigateway-server/src/main/resources/bootstrap.yml
Labels: 🛰 infra, 🏗 env, 🎤 msa, 🚪 apigateway

#92 [feat] Config Server 설정
  config-server/.gitignore
  config-server/build.gradle
  config-server/src/main/java/com/rainbowgon/configserver/ConfigServerApplication.java
  config-server/src/main/resources/application.properties
Labels: 💡 feature, 🛰 infra, 🎤 msa

#94 [infra/fix] Config Server 빌드 시에 application.yml 파일 주입
  .github/workflows/config-server-ci.yml
Labels: 🚨 fix, 🛰 infra

#96 [feat] eureka 서버 설정
  eureka-server/src/main/java/com/rainbowgon/eurekaserver/EurekaServerApplication.java
  eureka-server/src/main/resources/application.properties
  eureka-server/src/main/resources/application.yml
Labels: 🛰 infra, 🏗 env, 🎤 msa

#98 [env] Config 서버의 포트 변경
  apigateway-server/src/main/resources/bootstrap.yml
Labels: 🛰 infra, 🏗 env

#100 [env] Config 파일의 Profile 찾는 방법 변경
  apigateway-server/src/main/resources/bootstrap.yml
Labels: 🚨 fix, 🛰 infra

#102 [fix] EC2와 docker의 포트 번호 통일
  apigateway-server/Dockerfile
  apigateway-server/scripts/start.sh
  config-server/Dockerfile
  config-server/scripts/start.sh
  eureka-server/Dockerfile
  eureka-server/scripts/start.sh
  member-service/Dockerfile
  member-service/scripts/start.sh
  notification-service/Dockerfile
  notification-service/scripts/start.sh
  reservation-service/Dockerfile
  reservation-service/scripts/start.sh
  search-service/Dockerfile
  search-service/scripts/start.sh
  sender-server/Dockerfile
  sender-server/scripts/start.sh
Labels: 🛰 infra, 🏗 env

#104 [fix] bootstrap.yml 파일 수정
  apigateway-server/build.gradle
  apigateway-server/src/main/resources/bootstrap.yml
Labels: 🚨 fix, 🛰 infra, 🏗 env, 🚪 apigateway

#107 [infra/fix] eureka server의 workflow 수정
  .github/workflows/eureka-server-ci.yml
Labels: 🚨 fix, 🛰 infra, 🏗 env

#109 [infra/env] Eureka Server Dependency 추가
  eureka-server/build.gradle
  eureka-server/src/main/resources/application.yml
  eureka-server/src/main/resources/bootstrap.yml
Labels: 🛰 infra, 🏗 env, 🎤 msa

#110 [feat] Redis 기반 조회수 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 💡 feature, 🔍 search

#113 [infra/env] rabbitmq 추가
  eureka-server/build.gradle
Labels: 🛰 infra, 🏗 env, 🎤 msa

#115 [feat] 추천 로직 적용 및 정렬 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/RedisConfig.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/utils/RedisKeyBuilder.java
Labels: 💡 feature, 🔍 search

#119 [env] Reservation Service 초기 설정
  reservation-service/build.gradle
  reservation-service/src/main/java/com/rainbowgon/reservationservice/ReservationServiceApplication.java
  reservation-service/src/main/resources/application.yml
  reservation-service/src/main/resources/bootstrap.yml
Labels: 🏗 env, 🎫 reservation

#121 [fix] MessageOutDto 주입
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/client/dto/input/BookmarkInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/client/dto/input/WaitingInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/MessageFactory.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/dto/input/MessageInDTO.java
Labels: 🚨 fix, 🎠 notification

#120 [feat] 핸드폰 본인 인증 기능 구현
  member-service/build.gradle
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/request/MemberPhoneReqDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/errorCode/GlobalErrorCode.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/exception/MemberBadPhoneNumberException.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/util/CoolSmsSender.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/util/MessageFactory.java
  member-service/src/main/resources/application.yml
Labels: 💡 feature, 😎 member

#125 [fix] 알림 서비스, 작업 서버 directory명 변경
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/service/KafkaProducer.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationService.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/MessageFactory.java
Labels: 🚨 fix, 🎠 notification, 🏒sender

#126 [feat] Redis 데이터 주기 설정을 통한 캐시 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/RedisConfig.java
Labels: 💡 feature, 🔍 search

#131 [infra/fix] docker 실행 시 내부 포트를 80으로 수정
  apigateway-server/scripts/start.sh
  config-server/scripts/start.sh
  eureka-server/scripts/start.sh
  member-service/scripts/start.sh
  notification-service/scripts/start.sh
  reservation-service/scripts/start.sh
  search-service/scripts/start.sh
  sender-server/scripts/start.sh
Labels: 🚨 fix, 🛰 infra

#133 [env] Search Service 초기 설정
  search-service/build.gradle
  search-service/src/main/java/com/rainbowgon/searchservice/SearchServiceApplication.java
  search-service/src/main/resources/bootstrap.yml
Labels: 🏗 env, 🔍 search

#137 [env] multi redis server를 위한 환경 구축
  member-service/build.gradle
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/BookmarkRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/FcmTokenRedisConfigure.java
  member-service/src/main/java/lombok.config
  member-service/src/main/resources/application.yml
Labels: 🏗 env, 😎 member, 🏷 bookmark

#138 [feat] 북마크 알림 세그먼트 추출
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/client/SearchServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/client/dto/input/SearchDetailInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/client/dto/input/SearchSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/request/MemberCreateReqDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/entity/Member.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/repository/ProfileRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/FcmTokenRedisConfigure.java
Labels: 💡 feature, 🏷 bookmark

#141 [env] refresh token 저장 redis 연결
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/request/MemberCreateReqDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/entity/Member.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/repository/ProfileRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/RefreshTokenRedisConfigure.java
Labels: 🏗 env, 😎 member

#145 [env] redis multi server 환경 세팅 최종 완료
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/BookmarkRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/FcmTokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/RefreshTokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/ThemeSortingRedisConfigure.java
Labels: 🏗 env

#147 [feat] 알림 서비스 Redis 연결 테스트 완료
  notification-service/build.gradle
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/entity/Notification.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/repository/NotificationRedisRepository.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/repository/NotificationRepository.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/config/RedisConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/Notification.java
Labels: 💡 feature, 🎠 notification

#148 [env] member-service 배포 환경 세팅
  member-service/.gitignore
  member-service/build.gradle
  member-service/src/main/java/com/rainbowgon/memberservice/MemberServiceApplication.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/BookmarkRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/FcmTokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/RefreshTokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/ThemeSortingRedisConfigure.java
  member-service/src/main/resources/application.yml
  member-service/src/main/resources/bootstrap.yml
Labels: 🏗 env, 😎 member, 🎤 msa

#151 [fix] yml value 가져오는 path 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/KakaoLoginService.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/JwtTokenProvider.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/util/CoolSmsSender.java
Labels: 🚨 fix, 🏗 env

#153 [infra/fix] 빌드 시에 테스트 제외
  .github/workflows/apigateway-server-ci.yml
  .github/workflows/config-server-ci.yml
  .github/workflows/eureka-server-ci.yml
  .github/workflows/member-service-ci.yml
  .github/workflows/notification-service-ci.yml
  .github/workflows/reservation-service-ci.yml
  .github/workflows/search-service-ci.yml
  .github/workflows/sender-server-ci.yml
Labels: 🚨 fix, 🛰 infra

#155 [chore] 쓰지 않는 코드 삭제
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
Labels: 🧹 chore

#150 [fix] Redis 관련 설정 및 Dto 구조 변경
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/ReservationServiceClient.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/input/ReservationInDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/output/BookmarkDetailOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/output/BookmarkOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/feign/.gitkeep
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/request/ThemeCreateReqDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeDetailResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeSimpleResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/model/Theme.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/CacheRedisConfig.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/SortingRedisConfig.java
  search-service/src/main/java/lombok.config
  search-service/src/main/resources/application.yml
Labels: 🚨 fix, 🔍 search

#158 [fix] security에 actuator 관련 경로 허용
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
Labels: 🚨 fix, 🏗 env

#160 [infra/fix] 빌드 시에 FCM 토큰 주입
  .github/workflows/sender-server-ci.yml
Labels: 🚨 fix, 🛰 infra

#157 [env] 알림 서비스, 작업 서버 공통 환경설정
  notification-service/build.gradle
  notification-service/src/main/java/com/rainbowgon/notificationservice/NotificationServiceApplication.java
  notification-service/src/main/resources/bootstrap.yml
  sender-server/build.gradle
  sender-server/src/main/java/com/rainbowgon/senderserver/SenderServerApplication.java
  sender-server/src/main/resources/application.yml
  sender-server/src/main/resources/bootstrap.yml
  sender-server/src/main/resources/fcm/.gitkeep
Labels: 🏗 env, 🎠 notification, 🏒sender

#162 [fix] RedisConfig hostIP 경로 수정
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/config/RedisConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/global/config/RedisConfig.java
Labels: 🚨 fix, 🎠 notification, 🏒sender

#165 [fix] RedisConfig port번호 경로 수정
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/config/RedisConfig.java
  notification-service/src/main/resources/application.yml
  sender-server/src/main/java/com/rainbowgon/senderserver/global/config/RedisConfig.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🎠 notification, 🏒sender

#168 [feat] 서버 간 통신 테스트용 코드 작성
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/NotificationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberClientController.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
Labels: 💡 feature, 😎 member

#169 [infra/fix] docker의 로그를 Cloudwatch에 전송
  apigateway-server/scripts/start.sh
  config-server/scripts/start.sh
  eureka-server/scripts/start.sh
  member-service/scripts/start.sh
  notification-service/scripts/start.sh
  reservation-service/scripts/start.sh
  search-service/scripts/start.sh
  sender-server/scripts/start.sh
Labels: 🚨 fix, 🛰 infra

#172 [infra/fix] docker log stream 수정
  config-server/scripts/start.sh
Labels: 🚨 fix, 🛰 infra

#174 [feat] 서버 간 통신을 위한 feign client 구현
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/client/NotificationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/client/dto/input/SearchSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/NotificationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/ReservationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/SearchServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/dto/input/ReservationInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/dto/input/SearchDetailInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/dto/input/SearchSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/client/dto/output/NotificationOutDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberClientController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
Labels: 💡 feature, 😎 member

#178 [fix] refresh token redis, fcm token redis server 하나로 병합
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/NotificationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/ReservationServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/SearchServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/ReservationInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/SearchDetailInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/SearchSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/output/NotificationOutDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/RefreshTokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/TokenRedisConfigure.java
Labels: 🚨 fix, 🏗 env

#179 [feat] Redis 알림 키 불러오기 구현 및 폴더구조 변경 및 테스트 요청 작성
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/client/MemberServiceClient.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/client/ReservationServiceClient.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationClientController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/dto/response/NotificationListResDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/repository/NotificationRedisRepository.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationService.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/BookmarkInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/WaitingInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/config/RedisConfig.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/MessageFactory.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
Labels: 💡 feature, 🏗 env, 🎫 reservation

#181 [fix] 서버 간 통신 테스트 uri 시큐리티 설정 변경
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
Labels: 🚨 fix, 🏗 env

#188 [fix] 작은 에러 수정
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/ReservationServiceClient.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/ReservationServiceClient.java
Labels: 🚨 fix, 🔍 search

#189 [feat] 알림 서비스 Redis 조회 및 수정 구현
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/dto/response/NotificationListResDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/repository/NotificationRedisRepository.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
Labels: 💡 feature, 🎠 notification

#193 [fix] api gateway exception handler 삭제
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/ErrorExceptionConfig.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/error/GlobalExceptionHandler.java
Labels: 🚨 fix, 🚪 apigateway

#195 [fix] 알림 서비스 코드 정리 및 작업 서버 에러 해결
  notification-service/.gitignore
  notification-service/.idea/codeStyles/codeStyleConfig.xml
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationClientController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/dto/response/NotificationListResDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/entity/Notification.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/BookmarkInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/WaitingInDto.java
  sender-server/.gitignore
  sender-server/.idea/codeStyles/codeStyleConfig.xml
  sender-server/build.gradle
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/dto/input/MessageInDto.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/Notification.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/NotificationLog.java
Labels: 🚨 fix, 🎠 notification, 🏒sender

#196 [fix] api gateway csrf 비활성화
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/SecurityConfig.java
Labels: 🚨 fix, 🚪 apigateway

#199 [fix] FCMInitializer 어노테이션 변경
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
Labels: 🚨 fix, 🏒sender

#204 [feat] api gateway token 검증 로직 구현
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/error/dto/ErrorResponse.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomFilter.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/GlobalFilter.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/security/JwtTokenDecoder.java
Labels: 💡 feature, 🚪 apigateway

#205 [feat] 가까운 순 정렬 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/model/Theme.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 💡 feature, 🔍 search

#208 [fix] api gateway custom filter 생성자 수정
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
Labels: 🚨 fix, 🚪 apigateway

#211 [fix] api gateway 에러 핸들링 코드 수정
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
Labels: 🚨 fix, 🚪 apigateway

#212 [fix] FCMInitializer에 project-id 추가
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🏒sender

#217 [fix] base entity의 created_at default값 수정
  member-service/src/main/java/com/rainbowgon/memberservice/global/entity/BaseEntity.java
Labels: 🚨 fix, 😎 member

#220 [fix] member entity id에 uuid-char 타입 지정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/entity/Member.java
Labels: 🚨 fix, 😎 member

#221 [fix] 작업 서버에서 FCM 관련 FCMInitializer 에러 재재재해결
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/entity/Notification.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/repository/NotificationRedisRepository.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/BookmarkInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/WaitingInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/entity/BaseEntity.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/MessageFactory.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/dto/input/MessageInDto.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/Notification.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/NotificationLog.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/service/SenderServiceImpl.java
  sender-server/src/main/java/com/rainbowgon/senderserver/global/entity/BaseEntity.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🏒sender

#223 [fix] FCMInitializer 수정 및 버전 변경
  sender-server/build.gradle
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/global/error/errorCode/GlobalErrorCode.java
  sender-server/src/main/java/com/rainbowgon/senderserver/global/error/exception/FCMFileNotFoundException.java
Labels: 🚨 fix, 🏒sender

#225 [feat] member-service 전체적인 코드 수정 및 보충
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/controller/BookmarkController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/dto/response/BookmarkDetailResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/dto/response/BookmarkSimpleResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/request/MemberCreateReqDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/response/MemberInfoResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/entity/Token.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/repository/TokenRedisRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/controller/ProfileController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/entity/Profile.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/repository/ProfileRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/controller/ReviewController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/dto/request/ReviewCreateReqDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/dto/response/MyReviewDetailResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/dto/response/ReviewDetailResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/dto/response/ThemeHistoryResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/entity/Review.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/repository/ReviewRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/service/ReviewService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/service/ReviewServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/SearchServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/ThemeDetailInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/ThemeSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/TokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/errorCode/GlobalErrorCode.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/exception/RedisErrorException.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/JwtTokenProvider.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/filter/JwtFilter.java
Labels: 🚨 fix, 😎 member

#227 [fix] 작업 서버에서 FCM 관련 FCMInitializer 삭제 후 테스트
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/service/SenderServiceImpl.java
Labels: 🚨 fix, 🏒sender

#229 [fix] FCM Initializer 남은 코드 제거
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
Labels: 🚨 fix, 🏒sender

#231 [fix] 알림서비스 변수명 수정
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
Labels: 🚨 fix, 🎠 notification

#232 [fix] member-service에서 security 관련 코드 삭제
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/CustomExceptionHandler.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/CustomUserDetails.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/CustomUserDetailsService.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/JwtTokenProvider.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/filter/CustomExceptionFilter.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/filter/JwtFilter.java
Labels: 🚨 fix, 😎 member

#234 [fix] 작업 서버 FCM 관련 코드 삭제
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/service/SenderServiceImpl.java
Labels: 🚨 fix, 🏒sender

#236 [refactor] 공통 변수명으로 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/dto/response/BookmarkSimpleResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/ThemeSimpleInDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/output/NotificationOutDto.java
Labels: 🛠 refactor

#240 [fix] api gateway cors config 추가
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/CorsConfig.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/SecurityConfig.java
Labels: 🚨 fix, 🚪 apigateway

#241 [feat] 알림 서비스, 작업 서버 에러 핸들링 및 key 생성 코드 분리 및 FCM 테스트
  notification-service/.gitignore
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/error/errorCode/GlobalErrorCode.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/error/exception/RedisKeyNotFoundException.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/KeyManager.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/util/MessageFactory.java
  sender-server/.gitignore
  sender-server/build.gradle
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/service/SenderServiceImpl.java
  sender-server/src/main/resources/application.yml
Labels: 💡 feature, 🚨 fix, 🎠 notification, 🏒sender

#244 [infra/fix] fcm 토큰 파일 이름 수정
  .github/workflows/sender-server-ci.yml
Labels: 🚨 fix, 🛰 infra

#245 [fix] jwt token 관련 코드 수정 및 로그 추가
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/security/JwtTokenDecoder.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/JwtTokenProvider.java
Labels: 🚨 fix, 😎 member, 🚪 apigateway

#247 [fix] FCM 토큰 파일명 수정
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🏒sender

#249 [fix] FCM 토큰 관련 코드 수정
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
Labels: 🚨 fix, 🏒sender

#253 [fix] token expire time 코드 내부에서 명시
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/security/JwtTokenDecoder.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/JwtTokenProvider.java
Labels: 🚨 fix, 😎 member, 🚪 apigateway

#252 [fix] FCM Config 재수정 후 테스트
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
Labels: 🚨 fix, 🏒sender

#255 [feat] 필터링 및 인기테마 구현
  search-service/src/main/java/com/rainbowgon/searchservice/SearchServiceApplication.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/ReservationServiceClient.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/input/ReservationInDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/output/BookmarkDetailOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/client/dto/output/BookmarkOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/request/ThemeCreateReqDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeDetailResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeSimpleResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/model/Theme.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/model/entry/PriceEntry.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/BookmarkDetailOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/BookmarkSimpleOutDto.java
Labels: 💡 feature, 🔍 search

#257 [fix] FCM 토큰 확인용 코드 작성
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
Labels: 🚨 fix, 🏒sender

#259 [fix] member-service token redis에 primary 속성 부여
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/BookmarkRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/TokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/dto/Token.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/repository/TokenRedisRepository.java
Labels: 🚨 fix, 😎 member, 🚪 apigateway

#261 [chore] api gateway에 토큰 확인용 log 추가
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
Labels: 🚪 apigateway, 🧹 chore

#262 [fix] FCM Initializer 토큰 확인용 코드 재작성
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMService.java
Labels: 🚨 fix, 🏒sender

#264 [chore] member-service에 요청 헤더 확인을 위한 log 추가
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
Labels: 😎 member, 🧹 chore

#267 [fix] api gateway request header custom 코드 수정
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/CorsConfig.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
Labels: 🚨 fix, 🚪 apigateway

#268 [fix] member-service에서 security 관련 코드 삭제
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/WebConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/CustomExceptionHandler.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/JwtTokenProvider.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/dto/JwtTokenDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/dto/Token.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/security/filter/CustomExceptionFilter.java
Labels: 🚨 fix, 😎 member

#270 [fix] merge 과정에서 생긴 오류 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/TokenRedisConfigure.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/CustomExceptionHandler.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/dto/Token.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/repository/TokenRedisRepository.java
Labels: 🚨 fix, 😎 member

#271 [fix] merge 과정에서 생긴 오류 재수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
Labels: 🚨 fix

#274 [ fix] api gateway cors 관련 코드 수정
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/CorsConfig.java
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/filter/CustomAuthFilter.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/BookmarkRedisConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/ThemeSortingRedisConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/TokenRedisConfig.java
Labels: 🚨 fix, 🚪 apigateway

#277 [chore] 삭제되지 않은 디렉토리 삭제
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/BookmarkRedisConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/ThemeSortingRedisConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/redis/TokenRedisConfig.java
Labels: 🧹 chore

#278 [fix] FCM Initializer 토큰 확인용 코드 재재작성
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMService.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🏒sender

#280 [fix] api gateway security filter 수정
  apigateway-server/src/main/java/com/rainbowgon/apigatewayserver/config/SecurityConfig.java
Labels: 🚨 fix, 🚪 apigateway

#282 [fix] security config 롤백 및 수정
  member-service/build.gradle
  member-service/src/main/java/com/rainbowgon/memberservice/global/config/SecurityConfig.java
Labels: 🚨 fix, 😎 member

#286 [feat] 예약 페이지 정보 가져오기 (회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/client/dto/input/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/client/dto/output/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationBaseInfoResDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/entity/AvailableStatus.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/entity/MemberVerifiedStatus.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/entity/Reservation.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/repository/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/repository/ReservationRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/vo/PriceVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/vo/TimeSlotVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/vo/TimeVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/SearchServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/input/MemberBriefInfoInDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/input/ThemeBriefInfoInDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/entity/BaseEntity.java
Labels: 💡 feature, 🎫 reservation

#288 [feat] 지역 검색 추가
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/repository/ThemeRepository.java
Labels: 💡 feature, 🔍 search

#284 [fix] FCM 로그 코드 삭제
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/dto/output/MessageOutDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/BookmarkInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/ReservationInDto.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/global/client/dto/input/WaitingInDto.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMConfig.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/fcm/service/FCMInitializer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/dto/input/MessageInDto.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/Notification.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/NotificationLog.java
  sender-server/src/main/java/com/rainbowgon/senderserver/global/error/errorCode/GlobalErrorCode.java
Labels: 🚨 fix, 🏒sender

#291 [feat] redis server 전체 조회 및 삭제 기능 추가
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkNotificationServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/JwtTokenDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/TokenRedisConfig.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/dto/Token.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/repository/TokenRedisRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/service/BookmarkRedisService.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/service/RedisService.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/service/SortingRedisService.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/redis/service/TokenRedisService.java
Labels: 💡 feature, 🏗 env

#296 [fix] profile, review entity의 member_id 타입 CHAR(36)으로 명시
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/dto/response/BookmarkSimpleResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/entity/Profile.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/entity/Review.java
Labels: 🚨 fix, 😎 member

#298 [feat] 결과값에 북마크 수, 리뷰 수, 평균 별점 추가
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeDetailResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeSimpleResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 💡 feature, 🔍 search

#302 [fix] openfeign을 위한 dto 명칭 및 구조 수정
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/input/BookmarkInDtoList.java
Labels: 🚨 fix, 🔍 search

#300 [feat] 예약 하기 (회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/request/ReservationReqDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationResultResDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationSuccess.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/entity/Reservation.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/vo/TimeSlotVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/vo/TimeVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/SearchServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/errorCode/GlobalErrorCode.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/BookerInfoInvalidException.java
Labels: 💡 feature, 🎫 reservation

#304 [feat] 예약 하기 (비회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationUnauthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/request/ReservationReqDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
Labels: 💡 feature, 🎫 reservation

#308 [feat] 작업 서버 카프카 코드 수정
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationClientController.java
  sender-server/src/main/java/com/rainbowgon/senderserver/SenderServerApplication.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/controller/SenderController.java
Labels: 💡 feature, 🏒sender, 🎭 kafka

#312 [fix] 카프카 groupId 변수명 수정
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
Labels: 🚨 fix, 🎭 kafka

#311 [feat] 예약 내역 전체 조회하기 (회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationBriefResDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/repository/ReservationRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
Labels: 💡 feature, 🎫 reservation

#313 [feat] 예약 서비스를 위한 메소드 추가
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/error/errorCode/GlobalErrorCode.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/error/exception/PriceNotFoundException.java
Labels: 💡 feature, 🔍 search

#315 [feat] 예약 내역 조회하기 (회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationDetailResDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/repository/ReservationRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/errorCode/GlobalErrorCode.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/ReservationNotFoundException.java
Labels: 💡 feature, 🎫 reservation

#317 [fix] bookmark redis key split 코드 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
Labels: 🚨 fix, 🏷 bookmark

#318 [feat] 테스트를 위한 출력문 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 💡 feature, 🔍 search

#320 [feat] 예약 내역 조회하기 (비회원)
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationUnauthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/request/UnauthReservationDetailReqDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/repository/ReservationRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
Labels: 💡 feature, 🎫 reservation

#321 [fix] feign 요청을 위해 GetMapping에서 PostMapping으로 수정
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/SearchServiceClient.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 🚨 fix, 😎 member, 🔍 search

#326 [fix] feign 요청 request body를 list -> dto로 변경
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/service/BookmarkServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/SearchServiceClient.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/output/ThemeListOutDto.java
Labels: 🚨 fix, 😎 member

#325 [feat] 테스트를 위한 출력문 추가
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 💡 feature, 🔍 search

#328 [fix] search-service을 사용하는 FeignClient 수정
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/SearchServiceClient.java
Labels: 🚨 fix, 🎫 reservation, 🎤 msa

#332 [feat] 예약 서비스를 위한 메소드 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/input/BookmarkInDtoList.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/ReservationDetailOutDto.java
Labels: 💡 feature, 🔍 search

#338 [env] Redis Config 파일 추가
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/config/redis/TimeslotRedisConfig.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/config/redis/WaitingRedisConfig.java
Labels: 💡 feature, 🎫 reservation

#340 [feat] reservation-service feign 요청 구현
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberClientController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/error/FeignErrorDecoder.java
Labels: 💡 feature, 😎 member

#342 [fix] feign dto 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/bookmark/dto/response/BookmarkDetailResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/client/dto/input/ThemeDetailInDto.java
Labels: 🚨 fix

#344 [feat] Feign 요청 구현 및 요청 작업 추가
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/NotificationServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/SearchServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/.gitkeep
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/NotificationOutDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/NotificationType.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/WaitingNotificationOutDto.java
Labels: 💡 feature, 😎 member, 🎫 reservation, 🎠 notification, 🎤 msa

#346 [feat] feign을 위한 dto 필드 추가
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/BookmarkDetailOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/BookmarkSimpleOutDto.java
Labels: 💡 feature, 🔍 search

#349 [fix] 예약 완료 알림 DTO 수정 및 카프카 설정 변경
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/controller/NotificationClientController.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/entity/NotificationType.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationService.java
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/notification/service/NotificationServiceImpl.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/sender/entity/NotificationType.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🎠 notification, 🎭 kafka

#351 [feat] 원본 테마 정보 요청
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/SearchServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/input/ThemeOriginalInfoInDto.java
Labels: 💡 feature, 🎫 reservation, 🔍 search

#352 [feat] feign을 위한 dto 수정
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/controller/ThemeClientController.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/model/Theme.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeService.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/BookmarkSimpleOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/output/ReservationOriginalOutDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/SortingRedisConfig.java
Labels: 💡 feature, 🔍 search

#354 [fix] 테스트용 출력문 제거
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 🚨 fix, 🔍 search

#356 [feat] 레디스를 활용한 예약 대기 및 예약 대기 취소
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/dto/response/ReservationBaseInfoResDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/entity/Reservation.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/dto/request/WaitingReqDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/entity/Member.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/entity/Waiting.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/repository/MemberRedisRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/repository/WaitingRedisRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/service/WaitingService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/service/WaitingServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/input/ThemeBriefInfoInDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/errorCode/GlobalErrorCode.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/BookerInfoInvalidException.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/WaitingAlreadyExistsException.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/WaitingHistoryNotFoundException.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/utils/RedisUtil.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/vo/PriceVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/vo/TimeSlotVO.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/vo/TimeVO.java
Labels: 💡 feature, 🎫 reservation

#357 [fix] 필터링 시 정렬 순서 바뀌던 문제 수정
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
Labels: 🚨 fix, 🔍 search

#360 [fix] 카프카 application.yml 파일 수정
  notification-service/src/main/resources/application.yml
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🎭 kafka

#361 [feat] 카카오 oauth 구현 완료
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/controller/MemberController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/MemberDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/dto/response/oauth/OAuthProfileResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/repository/MemberRepository.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/KakaoLoginService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/service/MemberServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/oauth/controller/OAuthController.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/oauth/dto/KakaoTokenDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/oauth/dto/KakaoUserInfoDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/oauth/dto/response/OauthSignUpResDto.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/oauth/service/KakaoLoginService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileService.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/service/ProfileServiceImpl.java
  member-service/src/main/java/com/rainbowgon/memberservice/global/jwt/JwtTokenDto.java
Labels: 💡 feature, 😎 member

#362 [feat] 레디스에서 타임슬롯 정보 가져오기
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/timeline/entity/TimeLine.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/timeline/repository/TimeLineRedisRepository.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/timeline/service/TimeLineService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/timeline/service/TimeLineServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/config/redis/TimeLineRedisConfig.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/errorCode/GlobalErrorCode.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/exception/TimeLineNotFoundException.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/utils/RedisUtil.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/vo/AvailableStatus.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/vo/TimeVO.java
Labels: 💡 feature, 🎫 reservation

#364 [feat] Connection reset by peer 문제 해결을 위한 Timeout 설정
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/EsClientConfig.java
Labels: 💡 feature, 🔍 search

#369 [feat] Timeslot 가져오기 구현
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/dto/response/ThemeDetailResDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/domain/theme/service/ThemeServiceImpl.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/ReservationServiceClient.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/input/ReservationInDto.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/input/entry/AvailableStatus.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/client/dto/input/entry/TimeEntry.java
  search-service/src/main/java/com/rainbowgon/searchservice/global/config/EsClientConfig.java
Labels: 💡 feature, 🔍 search

#370 [fix] 카프카 토픽 설정 변경
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/service/KafkaProducer.java
  notification-service/src/main/resources/application.yml
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
  sender-server/src/main/resources/application.yml
Labels: 🚨 fix, 🎭 kafka

#371 [feat] 빈자리 알림 구현
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/controller/WaitingController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/dto/request/EmptyTimeSlotReqDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/service/WaitingService.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/service/WaitingServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/NotificationServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/input/FcmTokenInDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/EmptyTimeSlotNotificationOutDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/MemberIdOutDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/WaitingNotificationOutDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/error/errorCode/GlobalErrorCode.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/utils/RedisUtil.java
Labels: 💡 feature, 🎫 reservation, 🎠 notification

#375 [fix] 예약하기 기능의 URL 수정
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationUnauthController.java
Labels: 🚨 fix, 🎫 reservation

#376 [refactor] WaitingController로 분리
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/controller/ReservationAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/controller/WaitingAuthController.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/controller/WaitingUnauthController.java
Labels: 🛠 refactor, 🎫 reservation

#377 [fix] fcmToken 요청 방식 수정
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/reservation/service/ReservationServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/domain/waiting/service/WaitingServiceImpl.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/MemberServiceClient.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/MemberIdListOutDto.java
  reservation-service/src/main/java/com/rainbowgon/reservationservice/global/client/dto/output/MemberIdOutDto.java
Labels: 🚨 fix, 😎 member, 🎫 reservation

#379 [fix] sorting redis의 ratingScore 삽입/갱신 수식 수정
  member-service/src/main/java/com/rainbowgon/memberservice/domain/member/entity/Member.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/profile/entity/Profile.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/entity/Review.java
  member-service/src/main/java/com/rainbowgon/memberservice/domain/review/service/ReviewServiceImpl.java
Labels: 🚨 fix, 😎 member

#383 [fix] eureka와 feign 삭제
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/service/KafkaProducer.java
  sender-server/build.gradle
  sender-server/src/main/java/com/rainbowgon/senderserver/SenderServerApplication.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
Labels: 🚨 fix, 🏒sender

#385 [fix] 카프카 토픽 이름 변경
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/service/KafkaProducer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
Labels: 🚨 fix, 🎭 kafka

#387 [fix] 카프카 토픽 이름 재변경
  notification-service/src/main/java/com/rainbowgon/notificationservice/domain/kafka/service/KafkaProducer.java
  sender-server/src/main/java/com/rainbowgon/senderserver/domain/kafka/service/KafkaConsumer.java
Labels: 🚨 fix, 🎭 kafka
