Repository rainbowgon/opentheDoor-backend, pull requests merged in 2023-10, with the labels that each got.

#2 [env] Reservation 프로젝트 생성
  Reservation/.gitignore
  Reservation/build.gradle
  Reservation/gradle/wrapper/gradle-wrapper.jar
  Reservation/gradle/wrapper/gradle-wrapper.properties
  Reservation/gradlew
  Reservation/gradlew.bat
  Reservation/settings.gradle
  Reservation/src/main/java/com/rainbowgon/reservation/ReservationApplication.java
  Reservation/src/main/resources/application.properties
  Reservation/src/test/java/com/rainbowgon/reservation/ReservationApplicationTests.java
Labels: 🏗 env

#6 [env] Reservation 프로젝트 재생성
  .gitignore
  Reservation/.idea/compiler.xml
  Reservation/.idea/gradle.xml
  Reservation/.idea/inspectionProfiles/Project_Default.xml
  Reservation/.idea/jarRepositories.xml
  Reservation/.idea/misc.xml
  Reservation/.idea/vcs.xml
  Reservation/HELP.md
Labels: 🏗 env, 🎫 reservation

#8 [env] Member 프로젝트 생성
  Member/.gitignore
  Member/build.gradle
  Member/gradle/wrapper/gradle-wrapper.jar
  Member/gradle/wrapper/gradle-wrapper.properties
  Member/gradlew
  Member/gradlew.bat
  Member/settings.gradle
  Member/src/main/java/com/rainbowgon/member/MemberApplication.java
  Member/src/main/resources/application.properties
  Member/src/test/java/com/rainbowgon/member/MemberApplicationTests.java
Labels: 🏗 env, 😎 member

#10 [env] Member 도메인 구조 세팅
  Member/src/main/java/com/rainbowgon/member/domain/member/controller/MemberController.java
  Member/src/main/java/com/rainbowgon/member/domain/member/entity/Member.java
  Member/src/main/java/com/rainbowgon/member/domain/member/repository/MemberRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberService.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/global/entity/BaseEntity.java
  Member/src/main/java/com/rainbowgon/member/global/entity/ValidStatus.java
  Member/src/main/resources/application.properties
  Member/src/main/resources/application.yml
Labels: 🏗 env, 😎 member

#12 [env] Search 프로젝트 생성
  Search/.gitignore
  Search/build.gradle
  Search/gradle/wrapper/gradle-wrapper.jar
  Search/gradle/wrapper/gradle-wrapper.properties
  Search/gradlew
  Search/gradlew.bat
  Search/settings.gradle
  Search/src/main/java/com/rainbowgon/search/SearchApplication.java
  Search/src/main/resources/application.properties
  Search/src/test/java/com/rainbowgon/search/SearchApplicationTests.java
Labels: 🏗 env, 🔍 search

#16 [feat] BaseEntity와 Exception의 boiler template 생성
  Reservation/.gitignore
  Reservation/.idea/compiler.xml
  Reservation/.idea/gradle.xml
  Reservation/.idea/inspectionProfiles/Project_Default.xml
  Reservation/.idea/jarRepositories.xml
  Reservation/.idea/misc.xml
  Reservation/.idea/vcs.xml
  Reservation/src/main/java/com/rainbowgon/reservation/domain/.gitkeep
  Reservation/src/main/java/com/rainbowgon/reservation/global/entity/BaseEntity.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/entity/ValidStatus.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/GlobalExceptionHandler.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/dto/ErrorReason.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/dto/ErrorResponse.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/errorCode/BaseErrorCode.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/errorCode/GlobalErrorCode.java
  Reservation/src/main/java/com/rainbowgon/reservation/global/error/exception/CustomException.java
Labels: 💡 feature, 🎫 reservation

#19 [env] ApiGateway 프로젝트 생성
  ApiGateway/.gitignore
  ApiGateway/HELP.md
  ApiGateway/build.gradle
  ApiGateway/gradle/wrapper/gradle-wrapper.jar
  ApiGateway/gradle/wrapper/gradle-wrapper.properties
  ApiGateway/gradlew
  ApiGateway/gradlew.bat
  ApiGateway/settings.gradle
  ApiGateway/src/main/java/com/rainbowgon/apigateway/ApiGatewayApplication.java
  ApiGateway/src/main/resources/application.yml
  ApiGateway/src/test/java/com/rainbowgon/apigateway/ApiGatewayApplicationTests.java
Labels: 🏗 env, 🎤 msa

#20 [feat] Spring Security 구현
  Member/.gitignore
  Member/build.gradle
  Member/src/main/java/com/rainbowgon/member/domain/member/controller/MemberController.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/MemberTestResponseDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/entity/Member.java
  Member/src/main/java/com/rainbowgon/member/domain/member/repository/MemberRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberService.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/controller/ProfileController.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/entity/Profile.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/repository/ProfileRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileService.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/global/config/SecurityConfigure.java
  Member/src/main/java/com/rainbowgon/member/global/config/WebConfigure.java
  Member/src/main/java/com/rainbowgon/member/global/error/GlobalExceptionHandler.java
  Member/src/main/java/com/rainbowgon/member/global/error/dto/ErrorReason.java
  Member/src/main/java/com/rainbowgon/member/global/error/dto/ErrorResponse.java
  Member/src/main/java/com/rainbowgon/member/global/error/errorCode/BaseErrorCode.java
  Member/src/main/java/com/rainbowgon/member/global/error/errorCode/GlobalErrorCode.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/AuthForbiddenException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/AuthTokenExpiredException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/CustomException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/MemberNotFoundException.java
  Member/src/main/java/com/rainbowgon/member/global/security/CustomUserDetails.java
  Member/src/main/java/com/rainbowgon/member/global/security/CustomUserDetailsService.java
  Member/src/main/java/com/rainbowgon/member/global/security/ExceptionHandlerFilter.java
  Member/src/main/java/com/rainbowgon/member/global/security/JwtFilter.java
  Member/src/main/java/com/rainbowgon/member/global/security/JwtTokenProvider.java
  Member/src/main/resources/application.yml
Labels: 💡 feature, 😎 member

#24 [feat] jwt를 통한 인증/인가 기능 구현
  Member/build.gradle
  Member/src/main/java/com/rainbowgon/member/domain/member/controller/MemberController.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/request/MemberCreateReqDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/KakaoProfileResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/KakaoTokenResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/MemberCreateResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/MemberInfoResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/MemberTestResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/dto/response/OAuthProfileResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/member/entity/Member.java
  Member/src/main/java/com/rainbowgon/member/domain/member/entity/Provider.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/KakaoLoginService.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberService.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/MemberServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/domain/member/service/OAuthService.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/controller/ProfileController.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/dto/response/ProfileCreateResDto.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/entity/Profile.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/repository/ProfileRepository.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileService.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileServiceImpl.java
  Member/src/main/java/com/rainbowgon/member/global/config/SecurityConfigure.java
  Member/src/main/java/com/rainbowgon/member/global/error/errorCode/GlobalErrorCode.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/AuthKakaoProfileFailureException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/AuthKakaoTokenFailureException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/MemberPhoneNumberDuplicationException.java
  Member/src/main/java/com/rainbowgon/member/global/error/exception/ProfileNicknameDuplicationException.java
  Member/src/main/java/com/rainbowgon/member/global/security/CustomUserDetailsService.java
  Member/src/main/java/com/rainbowgon/member/global/security/JwtTokenProvider.java
  Member/src/main/java/com/rainbowgon/member/global/security/dto/JwtTokenDto.java
  Member/src/main/java/com/rainbowgon/member/global/security/filter/ExceptionHandlerFilter.java
  Member/src/main/java/com/rainbowgon/member/global/security/filter/JwtFilter.java
Labels: 💡 feature, 😎 member

#26 [feat] Elasticsearch 기반 검색 기능 구현
  Search/.gitignore
  Search/build.gradle
  Search/src/main/java/com/rainbowgon/search/domain/client/.gitkeep
  Search/src/main/java/com/rainbowgon/search/domain/theme/controller/ThemeController.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/request/ThemeCreateReqDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/response/ThemeDetailResDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/response/ThemeSimpleResDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/model/Theme.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/repository/ThemeRepository.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeService.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeServiceImpl.java
  Search/src/main/java/com/rainbowgon/search/global/config/EsClientConfig.java
  Search/src/main/java/com/rainbowgon/search/global/entity/BaseEntity.java
  Search/src/main/java/com/rainbowgon/search/global/entity/ValidStatus.java
  Search/src/main/java/com/rainbowgon/search/global/error/.gitkeep
  Search/src/main/java/com/rainbowgon/search/global/response/JsonResponse.java
  Search/src/main/java/com/rainbowgon/search/global/response/PageInfo.java
  Search/src/main/java/com/rainbowgon/search/global/response/ResponseWrapper.java
  Search/src/main/resources/application.properties
  Search/src/main/resources/application.yml
Labels: 💡 feature, 🔍 search

#29 [feat] 알림 서비스 구조 설정
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/controller/NotificationController.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/dto/request/.gitkeep
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/dto/response/NotificationListResDto.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/entity/Notification.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/entity/Type.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/entity/ViewStatus.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/feign/MemberServiceClient.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/feign/ReservationServiceClient.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/kafka/KafkaProducer.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/kafka/KafkaProducerConfig.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/repository/NotificationRepository.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/service/NotificationService.java
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/service/NotificationServiceImpl.java
  Notification/src/main/java/com/rainbowgon/notification/global/response/JsonResponse.java
  Notification/src/main/java/com/rainbowgon/notification/global/response/PageInfo.java
  Notification/src/main/java/com/rainbowgon/notification/global/response/ResponseWrapper.java
Labels: 💡 feature, 🎠 notification

#30 [feat] Redis 연결 확인
  Search/build.gradle
  Search/src/main/java/com/rainbowgon/search/domain/feign/.gitkeep
  Search/src/main/java/com/rainbowgon/search/domain/theme/controller/ThemeController.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/dto/response/ThemeSimpleResDto.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/repository/ThemeRepository.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeService.java
  Search/src/main/java/com/rainbowgon/search/domain/theme/service/ThemeServiceImpl.java
  Search/src/main/java/com/rainbowgon/search/global/config/RedisConfig.java
  Search/src/main/java/com/rainbowgon/search/global/error/.gitkeep
  Search/src/main/java/com/rainbowgon/search/global/error/GlobalExceptionHandler.java
  Search/src/main/java/com/rainbowgon/search/global/error/dto/ErrorReason.java
  Search/src/main/java/com/rainbowgon/search/global/error/dto/ErrorResponse.java
  Search/src/main/java/com/rainbowgon/search/global/error/errorCode/BaseErrorCode.java
  Search/src/main/java/com/rainbowgon/search/global/error/errorCode/GlobalErrorCode.java
  Search/src/main/java/com/rainbowgon/search/global/error/exception/CustomException.java
  Search/src/main/java/com/rainbowgon/search/global/error/exception/ThemeNotFoundException.java
  Search/src/main/resources/application.yml
Labels: 💡 feature, 🔍 search

#37 [feat] Profile 도메인에 북마크 자동 알림 on/off 기능 구현
  Member/src/main/java/com/rainbowgon/member/domain/profile/controller/ProfileController.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/entity/Profile.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileService.java
  Member/src/main/java/com/rainbowgon/member/domain/profile/service/ProfileServiceImpl.java
Labels: 💡 feature, 😎 member

#38 [feat] FCM 메세지 푸시 테스트
  Notification/src/main/java/com/rainbowgon/notification/domain/notification/entity/Notification.java
  Sender/.gitignore
  Sender/build.gradle
  Sender/src/main/java/com/rainbowgon/sender/domain/controller/SenderController.java
  Sender/src/main/java/com/rainbowgon/sender/domain/dto/request/MessageReqDTO.java
  Sender/src/main/java/com/rainbowgon/sender/domain/repository/SenderRepository.java
  Sender/src/main/java/com/rainbowgon/sender/domain/service/FCMInitializer.java
  Sender/src/main/java/com/rainbowgon/sender/domain/service/FCMService.java
  Sender/src/main/java/com/rainbowgon/sender/global/FCMInitializer.java
  Sender/src/main/java/com/rainbowgon/sender/global/error/errorCode/GlobalErrorCode.java
  Sender/src/main/java/com/rainbowgon/sender/global/error/exception/FCMInitializerFailException.java
  Sender/src/main/resources/application.properties
  Sender/src/main/resources/application.yml
Labels: 💡 feature, 🎠 notification

#35 [infra] Reservation CI/CD 테스트 구축
  .github/workflows/reservation-workflow.yml
  Reservation/Dockerfile
  appspec.yml
  scripts/start.sh
  scripts/stop.sh
Labels: 💡 feature, 🛰 infra
